<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<form action = "/pay/totalPayResults" method="POST">
    <label>Date:</label><br>
    <input type="date" name="dateWorked"><br>
    <label>Number of Hours Worked:</label><br>
    <input type="number" name="hoursWorked"><br>
    Shift Worked:<br>
    <label>AM</label>
    <input type="radio" name="shiftWorked" value = "AM">
    <br><label>PM</label>
    <input type="radio" name = "shiftWorked" value = "PM">
    <br><label>Hourly Rate:</label><br>
    <input type="number" name="hourlyRate"><br>
    <label>Total Credit Card Tips:</label><br>
    <input type="number" name="creditCardTips"><br>
    <label>Total Cash Tips:</label><br>
    <input type="number" name="cashTips"><br>
    <label>Tax Rate:</label><br>
    <input type="number" name="taxRate"><br>
    <br><input type="submit" value="Calculate Take-Home Pay">
</form>
</body>
</html>
