<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Shift</th>
            <th>Total Pay</th>
        </tr>
        </thead>

        <tr th:each="pay : ${payCalculations}">
            <td th:text="${pay.dateWorked}">Date Worked</td>
            <td th:text="${pay.shiftWorked}">Shift Worked</td>
            <td th:text="${pay.totalPay}">Total Pay</td>
        </tr>

    </table>
</div>


</body>
</html>

