h1 {
	color: #F7F88B;
	margin-bottom:13rem;
}

a {
     font-size: 1rem;
     color: #F7F88B;
     text-decoration: none;
     font-weight: bold;
}


body {
  background-image: url("photos/background");
  background-size: cover;
  background-repeat:no-repeat;
}

@media screen and (max-width: 800px) {
  body{
  background-size: 1000px;
 }
}