 .error {
     color: red;
     font-size: 0.9rem;
     font-weight: bold;
     margin: 0;
 }

 #recipe-text {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-color: red;
 }

 #edit-btn {
    background-color: maroon;
 }

 .cocktail-link {
    color: maroon;
 }