<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <header>Add TODO Task</header>
    </br>
    <form action="/tasks/todo/add" method="POST">
        <div>
            <label>Type:
                <select th:field="${todoTask.todoTaskType}">
                    <option th:each="type : ${todoTaskTypes}"
                            th:value="${type}"
                            th:text="${type.displayName}"
                    ></option>
                </select>
            </label>
        </div>
        <div>
            <label>Task:
                <input th:field="${todoTask.todoTaskName}" />
            </label>
            <p class="error" th:errors="${todoTask.todoTaskName}"></p>
        </div>
        <div>
            <label>Notes:
                <textarea th:field="${todoTask.todoTaskNotes}" />
            </label>
            <p class="error" th:errors="${todoTask.todoTaskNotes}"></p>
        </div>
        <div>
            <label>Desired Completion Date:
                <input type="date" id="desiredCompletionDate" name="desiredCompletionDate">
            </label>
        </div>
        <button type="submit">Add New TODO Task</button>
    </form>
    </br>
    <p><a href="/tasks/todo/delete">Delete TODO Task</a></p>
    <p><a href="/tasks/todo/list">TODO Task List</a></p>
    <div th:replace="~{fragments :: home}"></div>
</body>
</html>