<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments :: head"></div>
<head>
    <style>
        .button1:hover {
        background-color: #FDFD96;
        color: black;
        }
    </style>
</head>
<body>
    <header th:replace="fragments :: header"></header>
    <form action="/tasks/completed/add" method="POST">
        <div>
            <label>Type:
                <select th:field="${completedTask.completedTaskType}">
                    <option th:each="type : ${completedTaskTypes}"
                            th:value="${type}"
                            th:text="${type.taskTypeDisplayName}"
                    ></option>
                </select>
            </label>
        </div>
        <div>
            <label>Task:
                <input th:field="${completedTask.completedTaskName}" />
            </label>
            <p class="error" th:errors="${completedTask.completedTaskName}"></p>
        </div>
        <div>
            <label>Notes:
                <textarea th:field="${completedTask.completedTaskNotes}" />
            </label>
            <p class="error" th:errors="${completedTask.completedTaskNotes}"></p>
        </div>
        <div>
            <label>Date Completed:
                <input type="date" id="dateCompleted" name="dateCompleted">
            </label>
        </div>
        <div>
            <label>Employee Completed By:
                <select th:field="${completedTask.employeeCompletedBy}">
                    <option th:each="type : ${employees}"
                            th:value="${type}"
                            th:text="${type.employeeDisplayName}"
                    ></option>
                </select>
            </label>
        </div>
        <button class="button button1" style="border-radius: 30px;" type="submit">Add New Completed Task</button>
        </form>
        </br>
        <p><a href="/tasks/completed/delete">Remove Completed Task</a></p>
        <p><a href="/tasks/completed/list">Completed Task List</a></p>
        <p><a href="/tasks">Task Manager</a></p>
</body>
</html>