<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <header>Remove a Completed Task</header>
    </br>
        <p th:unless="${completedTasksList} and ${completedTasksList.size()}">
            You have not added any completed tasks yet!
        </p>
        <form action="/tasks/completed/delete" method="POST">
            <th:block th:each="task : ${completedTasksList}">
                <label>
                    <input type="checkbox" name="completedTaskIds" th:value="${task.completedTaskId}" />
                    <span th:text="${task.completedTaskType.taskTypeDisplayName + ' | ' + task.completedTaskName + ' | ' + task.completedTaskNotes}"></span>
                </label><br/>
            </th:block>
            <button type="submit">Delete Completed Task</button>
        </form>
        <p><a href="/tasks/completed/add">Add Completed Task</a></p>
        <p><a href="/tasks/completed/list">Completed Task List</a></p>
        <p><a href="/tasks">Task Manager</a></p>
</body>
</html>