<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments :: head"></div>
<head>
    <style>
        .button1:hover {
        background-color: #FDFD96;
        color: black;
        }
    </style>
</head>
<body>
    <header th:replace="fragments :: header"></header>
        <p th:unless="${todoTasksList} and ${todoTasksList.size()}">
            You have not added any to do tasks yet!
        </p>
        <form action="/tasks/todo/delete" method="POST">
            <th:block th:each="task : ${todoTasksList}">
                <label>
                    <input type="checkbox" name="todoTaskIds" th:value="${task.todoTaskId}" />
                    <span th:text="${task.todoTaskType.taskTypeDisplayName + ' | ' + task.todoTaskName + ' | ' + task.todoTaskNotes}"></span>
                </label><br/>
            </th:block>
            <button class="button button1" style="border-radius: 30px;" type="submit">Delete To Do Task</button>
        </form>
        <p><a href="/tasks/todo/add">Add To Do Task</a></p>
        <p><a href="/tasks/todo/list">To Do Task List</a></p>
        <p><a href="/tasks">Task Manager</a></p>
</body>
</html>