<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<!--<h2>To Do Tasks</h2>-->
<!--<head>-->
<!--    <style>-->
<!--    table {-->
<!--      border-collapse: collapse;-->
<!--      width: 100%;-->
<!--    }-->
<!--    th, td {-->
<!--      padding: 8px;-->
<!--      text-align: left;-->
<!--      border-bottom: 1px solid #DDD;-->
<!--    }-->
<!--    tr {-->
<!--      border-bottom: 1px solid #ddd;-->
<!--    }-->
<!--    tr:hover {background-color: #D6EEEE;}-->
<!--    </style>-->
<!--</head>-->
<!--    </br>-->
<div class="todo">
        <p th:unless="${todoTasksList} and ${todoTasksList.size()}">
            You have not added any todo tasks yet!
        </p>
            <table id="todo-table" class="table table-sortable">
                <tr>
                    <th>Type
                        <select id="todo-type-list" onchange="sortByTodoTaskType()" class='form-control'>
                            <option></option>
                            <option>Cleaning</option>
                            <option>Stocking</option>
                            <option>Rotating</option>
                            <option>Ordering</option>
                            <option>Miscellaneous</option>
                        </select>
                    </th>
                    <th>Task</th>
                    <th>Notes</th>
                    <th>Desired Completion Date</th>
                </tr>
                <tr th:each="task : ${todoTasksList}">
                    <td th:text="${task.todoTaskType.taskTypeDisplayName}" />
                    <td th:text="${task.todoTaskName}" />
                    <td th:text="${task.todoTaskNotes}" />
                    <td th:text="${task.desiredCompletionDate}" />
                </tr>
            </table>
        <p><a href="/tasks/todo/add">Add To Do Task</a></p>
        <p><a href="/tasks/todo/delete">Delete To Do Task</a></p>
        <p><a href="/tasks">Task Manager</a></p>
</div>
        <script>
            function sortByTodoTaskType() {
              let input, filter, table, tr, td, i;
              input = document.getElementById("todo-type-list");
              filter = input.value.toUpperCase();
              table = document.getElementById("todo-table");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
    </script>
</body>
</html>