<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<link rel="stylesheet" th:href="@{/main.css}" />
<div th:replace="fragments :: head"></div>
<head>
    <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #DDD;
    }
    tr {
      border-bottom: 1px solid #ddd;
    }
    tr:hover {background-color: #FDFD96;}

    .table-sortable th {
        cursor: pointer;
    }

    .table-sortable .th-sort-asc::after {
        content: "\25b4";
    }

    .table-sortable .th-sort-desc::after {
        content: "\25be";
    }

    .table-sortable .th-sort-asc::after,
    .table-sortable .th-sort-desc::after {
        margin-left: 5px;
    }
    </style>
</head>
<body>
    <header th:replace="fragments :: header"></header>
        <p th:unless="${todoTasksList} and ${todoTasksList.size()}">
            You have not added any todo tasks yet!
        </p>
            <table id="todo-table" class="table table-sortable">
                <thead>
                    <tr>
                        <th>Type
                            <select id="todo-type-list" onchange="sortByTodoTaskType()" class='form-control'>
                                <option></option>
                                <option>Cleaning</option>
                                <option>Stocking</option>
                                <option>Rotating</option>
                                <option>Ordering</option>
                                <option>Miscellaneous</option>
                            </select>
                        </th>
                        <th>Task</th>
                        <th>Notes</th>
                        <th id="date-todo">Desired Completion Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="task : ${todoTasksList}">
                        <td th:text="${task.todoTaskType.taskTypeDisplayName}" />
                        <td th:text="${task.todoTaskName}" />
                        <td th:text="${task.todoTaskNotes}" />
                        <td th:text="${task.desiredCompletionDate}" />
                    </tr>
                </tbody>
            </table>
        <p><a href="/tasks/todo/add">Add To Do Task</a></p>
        <p><a href="/tasks/todo/delete">Delete To Do Task</a></p>
        <p><a href="/tasks">Task Manager</a></p>

        <script>
            function sortByTodoTaskType() {
              let input, filter, table, tr, td, i;
              input = document.getElementById("todo-type-list");
              filter = input.value.toUpperCase();
              table = document.getElementById("todo-table");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }

            function sortByTodoDate(table, column, asc = true) {
                const dirModifier = asc ? 1 : -1;
                const tBody = table.tBodies[0];
                const rows = Array.from(tBody.querySelectorAll("tr"));

                const sortedRow = rows.sort((a, b) => {
                    const aColText = a.querySelector(`td:nth-child(${ column + 1})`).textContent.trim();
                    const bColText = b.querySelector(`td:nth-child(${ column + 1})`).textContent.trim();

                    return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
                });

                while (tBody.firstChild) {
                    tBody.removeChild(tBody.firstChild);
                }

                tBody.append(...sortedRow);

                table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
                table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-asc", asc);
                table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-desc", !asc);
            }

            document.querySelectorAll(".table-sortable th").forEach(headerCell => {
                headerCell.addEventListener("click", () => {
                    const tableElement = headerCell.parentElement.parentElement.parentElement;
                    const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
                    const currentIsAscending = headerCell.classList.contains("th-sort-asc");

                    sortByTodoDate(tableElement, headerIndex, !currentIsAscending);            });
            });
</script>
</body>
</html>