<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
  <meta charset="UTF-8"/>
  <title>MixMuse</title>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/styles.css}">
  <link rel="stylesheet" th:href="@{/main.css}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<nav th:fragment="header">
  <h1 th:text="${title}">Mix Muse</h1>
  <ul class="nav">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/cocktails">Cocktails</a></li>
    <li class="nav-item"><a class="nav-link" href="/tasks">Task Manager</a></li>
    <li class="nav-item"><a class="nav-link" href="/pay">Pay Calculator</a></li
    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
  </ul>
</nav>

<div th:fragment="search-box">
  <form th:action="@{/cocktails/search}" method="get">
    <input type="text" name="search-term" placeholder="e.g. name or ingredient">
    <button type="submit">Search</button>
  </form>
</div>

</body>
</html>

