<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Cocktail Name
            <input th:field="${cocktail.name}" class="form-control">
        </label>
        <p class="error" th:errors="${cocktail.name}"></p>
    </div>
    <div class="form-group">
        <label>Recipe Instructions
            <input th:field="${cocktail.recipe.instructions}" class="form-control">
        </label>
        <p class="error" th:errors="${cocktail.recipe.instructions}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>