<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:input="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<br>
<br>
<br>
<form action="#" th:action="@{edit}" th:object="${recipe}" method="post">
        <div class="form-group" th:align="left">
            <label for="cocktail-name">Cocktail Name
                <input type="text" id="cocktail-name" th:field="*{cocktail.name}" class="form-control">
            </label>
            <p class="error" th:errors="*{cocktail.name}"></p>
        </div>

        <div class="form-group" th:align="left">
            <label for="ingredients" id="ingredients">Ingredients</label>
            <br />
            <div th:if="*{ingredients}">
                <table>
                    <tbody>
                    <tr th:each="ingredient, stat: *{ingredients}">
                        <td><input type="text" placeholder="Quantity"th:field="*{ingredientQuantities[__${stat.index}__]}"></td>
                        <td><input type="text" placeholder="e.g. 'oz'" th:field="*{ingredientMeasurements[__${stat.index}__]}"></td>
                        <td><input type="text" placeholder="Ingredient name" th:field="*{ingredients[__${stat.index}__].name}"></td>
                        <td><button class="btn btn-info" style="background-color: maroon; border-color: maroon;" type="submit" name="removeIngredient" id="removeIngredient" th:value="${stat.index}">Remove</button></td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="*{ingredients.size()} > 0">
                    <p class="error" th:errors="*{ingredients[0].name}"></p>
                </div>
            </div>
            <button class="btn btn-info" style="background-color: maroon; border-color: maroon;" th:nowrap="true" th:align="right" type="submit" name="addIngredient" id="addIngredient">Add Ingredient</button>
        </div>

        <div class="form-group" th:align="left">
            <label for="recipe-instructions">Recipe Instructions
                <textarea id="recipe-instructions" th:field="*{instructions}" class="form-control"></textarea></label>
            <p class="error" th:errors="*{instructions}"></p>
        </div>

        <div class="form-group">
            <input type="submit" value="Confirm Edit Recipe" class="btn btn-success">
            <button class="btn btn-info" style="background-color: maroon; border-color: maroon;" type="submit" name="deleteRecipe" id="deleteRecipe" th:value="${recipe.id}">Delete Recipe</button>
        </div>
</form>
</body>
</html>