<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<div th:replace="fragments :: search-box"></div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Recently Added Cocktails</th>
    </tr>
    </thead>

    <tr th:each="cocktail: ${cocktails}">
        <td><a th:href="'/cocktails/recipe?cocktailId=' + ${cocktail.id}" th:text="${cocktail.name}"></a></td>
    </tr>
</table>

<div th:if="${userRecipes}">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Your Recipes</th>
    </tr>
    </thead>

    <tr th:each="recipe: ${userRecipes}">
        <td th:text="${recipe.getId()}"></td>
    </tr>
</table>
</div>

<p><a href="/cocktails/create">Add a New Cocktail Recipe</a></p>

</body>
</html>