<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head th:replace="fragments :: head"></head>
<body class="container">
<link rel="stylesheet" th:href="@{/main.css}" />
<header th:replace="fragments :: header"></header>

<div th:replace="fragments :: search-box"></div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Recently Added Cocktail Recipes</th>
    </tr>
    <tr>
    <tr>
        <th>Cocktail</th>
        <th>Author</th>
        <th>Date Added</th>
    </tr>
    </thead>
    <tr th:each="recipe : ${recipes}">
        <td><a class="cocktails" th:href="'/cocktails/recipe?recipeId=' + ${recipe.id}" th:text="${recipe.cocktail.name}"></a></td>
        <td th:text="${recipe.author.username}"></td>
        <td th:text="${recipe.getFormattedDateAdded()}"></td>
    </tr>
</table>

<div th:if="${user}">
    <p> <a class="btn btn-info" style="background-color: maroon; border-color:maroon;" th:href="@{cocktails/create}">Add a New Cocktail Recipe</a></p>
</div>
    <div th:if="${userRecipes} and ${userRecipes.size()} > 0">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Your Recipes</th>
        </tr>
        <tr>
            <th>Cocktail</th>
            <th>Date Added</th>
        </tr>
        </thead>
        <tr th:each="recipe : ${userRecipes}">
            <td><a class="cocktails" th:href="'/cocktails/recipe?recipeId=' + ${recipe.id}" th:text="${recipe.cocktail.name}"></a></td>
            <td th:text="${recipe.getFormattedDateAdded()}"></td>
            <td><a class="btn btn-info maroonButton" th:href="@{cocktails/edit?recipeId={recipeId} (recipeId=${recipe.id})}">Edit Recipe</a></td>
        </tr>
    </table>


</div>
</body>
</html>