<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head th:replace="fragments :: head"></head>
<body class="container">
<link rel="stylesheet" th:href="@{/main.css}" />
<header th:replace="fragments :: header"></header>

<div th:replace="fragments :: search-box"></div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Recently Added Cocktails</th>
    </tr>
    </thead>

    <tr th:each="cocktail: ${cocktails}">
        <td><a th:href="'/cocktails/recipe?cocktailId=' + ${cocktail.id}" th:text="${cocktail.name}"></a></td>
    </tr>
</table>

<p><a href="/cocktails/create">Add a New Cocktail Recipe</a></p>

</body>
</html>