<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<header th:replace="fragments :: header"></header>

<p id="recipe-text" th:text="${recipeText}"></p>

<!--Adding Comment Feature:-->
<table>
    <thead>
    <tr>
        <th>Comments</th>
    </tr>
    </thead>

    <tr th:each="comment : ${comments}">
        <td th:text="${comment.dateAdded}">Date Added</td>
        <td th:text="${comment.userName}">Written By</td>
        <td th:text="${comment.contents}">Comment Contents</td>
    </tr>
</table>

<p th:if="${comments.size() == 0}">No comments so far.</p>

<div id="addCommentButton">
    <button >Add Comment</button>
</div>

<div id="commentPopup" style="display: none;">
    <br>
    <form method="post" action="/submitcomment">
        <textarea value="Enter Comment" id="commentText" name="commentText" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Submit Comment">
    </form>
</div>

<script th:inline="javascript">
    document.getElementById('addCommentButton').addEventListener('click', function() {
        let popup = document.getElementById('commentPopup');
        let commentText = document.getElementById('commentText');
        popup.style.display = 'block';
        commentText.focus();
        popup.scrollIntoView({
            behavior: 'smooth',
            block: 'center'
        });

    });
</script>

</body>
</html>